<div class="col-md-12">

    <form ng-submit="save(goal)" name="goalForm">
        <div class="panel panel-white">
            <div class="panel-body">

                <div class="row">

                    <div class="panel-heading">
                        <h3 class="panel-title col-md-6">
                            Criação de Nova Meta
                        </h3>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-3">
                        <label>Região</label>
                        <select type="text" ng-required="true" class="form-control" ng-options="region as region for region in regions"
                            ng-model="goal.region" ng-change="changeStates(goal.region)">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Estado</label>
                        <select ng-disabled="!goal.region" type="text" ng-required="true" class="form-control"
                            ng-options="state as state for state in states" ng-model="goal.state">
                            <option value=""></option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label>Deadline</label>
                        <input class="form-control" data-date-start-date="1d" ng-required="true" data-provide="datepicker"
                            data-date-format="dd/mm/yyyy" data-language="pt-BR" data-date-autoclose="true" ng-model="goal.date">
                    </div>

                    <div class="col-md-3">
                        <label>Meta</label>
                        <input type="number" ng-required="true" class="form-control col-md-10" ng-model="goal.goal" />
                    </div>
                </div>
            </div>

        </div>
        <div class="panel-footer clearfix">
            <div class="col-md-12">
                <div style="float: right">
                    <a ui-sref="app.commercial-goals" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success">Salvar</button>
                </div>

            </div>
        </div>
</div>
</form>