<div class="col-md-12">

    <div class="panel panel-white">

        <div class="panel-heading">
            <h4 class="panel-title">Metas</h4>
        </div>

        <div class="panel-body">
            <a href="" ui-sref="app.commercial-goals-create" class="btn btn-success m-b-sm">Nova Meta</a>
            <div class="row">
                <div class="col-md-12">
                    <div ng-include="'views/commercial-goals/tables/index.html'"></div>
                </div>

            </div>
        </div>
    </div>
</div>