<div class="panel panel-white">
    <div class="panel-body clearfix" style="padding-bottom: 0!important;">
        <div class="col-md-4">
            <!-- <h4 class="panel-title">
                    Cotações: {{counters.searches_count}}<br>
                    Último(a) semana: {{counters.searches_count_week | number}} | mês: {{counters.searches_count_month | number}}
                </h4> -->
            <ul class="list-group">
                <li class="list-group-item disabled" style="cursor: default;">
                    <strong>Cotações</strong>
                </li>
                <li class="list-group-item"><strong>Total: </strong>{{counters.searches_count}}</li>
                <li class="list-group-item"><strong>Última Semana:</strong> {{counters.searches_count_week | number}}</li>
                <li class="list-group-item"><strong>Último mês:</strong> {{counters.searches_count_month | number}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <!-- <h4 class="panel-title">
                    OP's: {{counters.ops_count | number}}<br>
                    Último(a) semana: {{counters.ops_count_week | number}} | mês: {{counters.ops_count_month | number}}
                </h4> -->
            <ul class="list-group">
                <li class="list-group-item disabled" style="cursor: default;">
                    <strong>OPS</strong>
                </li>
                <li class="list-group-item"><strong>Total:</strong> {{counters.ops_count | number}}</li>
                <li class="list-group-item"><strong>Última Semana:</strong> {{counters.ops_count_week | number}}</li>
                <li class="list-group-item"><strong>Último mês:</strong> {{counters.ops_count_month | number}}</li>
            </ul>
        </div>
        <div class="col-md-4">
            <!-- <h4 class="panel-title">Pagamentos: {{counters.payments_count | number}}<br> Último(a) semana: {{counters.payments_count_week
                    | number}} | mês: {{counters.payments_count_month | number}}
                </h4> -->
            <ul class="list-group">
                <li class="list-group-item disabled" style="cursor: default;">
                    <strong>Pagamentos</strong>
                </li>
                <li class="list-group-item"><strong>Total:</strong> {{counters.payments_count | number}}</li>
                <li class="list-group-item"><strong>Última Semana:</strong> {{counters.payments_count_week | number}}</li>
                <li class="list-group-item"><strong>Último mês:</strong> {{counters.payments_count_month | number}}</li>
            </ul>
            
        </div>
        
    </div>
</div>