<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-body">
            <div id="rootwizard">
                <div class="panel-heading">
                    <h4 class="panel-title">Emissões a faturar ({{agency.title}})</h4>
                </div>
                <div class="panel-heading">
                    <h4 class="panel-title">Total de Crédito: {{agency.credit | currency}}
                        <button title="Ver detalhes de créditos"
                                ng-disabled="!agency.credit"
                                class="btn btn-info"
                                style="margin-left: 10px;"
                                type="button"
                                data-toggle="modal"
                                ng-click="showCredits(agency)">Ver detalhes</button>

                    </h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button title="Para gerar uma fatura, selecione as emissões que deseja incluir ou selecione tudo."
                            ng-disabled="!liquidate.count || liquidating"
                            class="btn btn-info"    
                            id="to-invoice-btn"
                            type="button"
                            ng-click="openLiquidateModal(liquidate)">
                            Faturar
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div ng-include="'views/agency/tables/to-invoice-view.html'"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>