<div class="row">
    <div class="col-md-12">

        <ba-table ba-table-resource="resource"
                  ba-table-items="emails"
                  ba-table-filter-criteria="filterCriteria">
            <ba-table-body>
                <table id="data-table-markup" class="table table-responsive table-hover table-striped" style="width: 100%; cellspacing: 0;" >
                  <thead>
                    <tr>
                        <th title="Nome">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Nome</ba-table-sort>
                        </th>
                        <th title="Endereço de Email">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="address">Endereço</ba-table-sort>
                        </th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="email in emails">
                        <td>{{email.name}}</td>
                        <td>{{email.address}}</td>

                        <td class="col-md-2">
                            <span ui-sref="app.inbox-mail(email)" class="btn btn-primary btn-xs btn-block" title="Abrir Inbox">Abrir Inbox</span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th title="Nome">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="price_after_boarding">Nome</ba-table-sort>
                        </th>
                        <th title="Endereço de Email">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="price_before_boarding">Endereço</ba-table-sort>
                        </th>
                        <th>Ação</th>
                    </tr>
                    </tfoot>
                </table>

            </ba-table-body>

        </ba-table>

    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <ng-include src="'views/emails/form.html'"></ng-include>
    </div>
</div>