<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-body">
            <div id="rootwizard" ng-controller="FinancialRemittanceReceiptsCtrl" ng-init="view()">
                <div class="panel-heading">
                    <h4 class="panel-title">Arquivo de Remessa</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-include="'views/financial/tables/remittance-receipts-view.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>