<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-body">
            <div id="rootwizard" ng-controller="FinancialRemittanceCtrl" ng-init="listeners(); getRemittanceBanks();">
                <div class="panel-heading">
                    <h4 class="panel-title">Arquivos remessa</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-include="'views/financial/tables/remittance.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>