<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-body">
            <div id="rootwizard" ng-controller="FinancialRemittanceReturnReceiptsCtrl" ng-init="listeners()">
                <div class="panel-heading">
                    <h4 class="panel-title">Arquivos retorno</h4>
                </div>
                <div class="row m-b-lg">
                    <div class="col-md-6 col-md-offset-6">
                        <!-- Button trigger modal -->
                        <button type="button" 
                                class="btn btn-danger pull-right" 
                                data-toggle="modal" 
                                data-target="#remittance-return">
                                <i class="fa fa-upload"></i> Importar Arquivo</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-include="'views/financial/modals/remittance-return.html'"></div>
                        <div ng-include="'views/financial/tables/remittance-return-receipts.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>