<div class="col-md-12">

    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title">Relatório de Embarque</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div ng-include="'views/check-in/tables/index.html'"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-unstyled pull-right">
                        <li><div class="btn btn-xs btn-check-in-1"><i class="fa fa-check"></i></div> <strong>Check-in disponível</strong></li>
                        <li><div class="btn btn-xs btn-check-in-4"><i class="fa fa-check"></i></div> <strong>Check-in já realizado</strong></li>
                        <li><div class="btn btn-xs btn-check-in-0"><i class="fa fa-check"></i></div> <strong>Check-in com problema / Inválido</strong></li>
                        <li><div class="btn btn-xs btn-check-in-2"><i class="fa fa-check"></i></div> <strong>Check-in não disponível</strong></li>
                        <li><div class="btn btn-xs btn-check-in-emission-2 btn-check-in-emission-3"><i class="fa fa-check"></i></div> <strong>Check-in cancelado ou reembolsado</strong></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
