<div class="col-md-12">

    <div class="panel panel-white">

        <div class="panel-heading">
            <h4 class="panel-title">Bandeira de Cartão Crédito e Débito</h4>
        </div>

        <div class="panel-body">
            <a href="" ui-sref="app.cardflags-create" class="btn btn-success m-b-sm">Nova Bandeira de Cartão</a>

            <div id="rootwizard">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="?#cardflags-tab" data-toggle="tab">
                                <i class="glyphicon glyphicon-credit-card"></i> Todas</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active fade in" id="cardflags-tab">
                        <div ng-include="'views/cardflags/tables/index.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>