<div class="col-md-12">
    <div class="panel panel-white">
        <div class="panel-body">
            <div id="rootwizard">
                <div class="panel-heading">
                    <h4 class="panel-title">Agências à Emitir</h4>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <div ng-include="'views/electronic-service-invoice/tables/agencies.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>