<div class="col-md-12" id="electronic-service-invoice">

    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title">Notas Fiscais</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a ui-sref="app.electronic-service-invoice-agency" class="btn btn-success m-b-sm">Emitir Nota Fiscal</a>
                    <div class="table-responsive">
                        <div ng-include="'views/electronic-service-invoice/tables/index.html'"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
