<div class="row">
    <div class="col-md-12">

        <ba-table ba-table-resource="resource"
                  ba-table-items="price_markups"
                  ba-table-filter-criteria="filterCriteria">

            <ba-table-body>

                <table id="data-table-markup" class="table table-responsive table-hover table-striped"
                       style="width: 100%; cellspacing: 0;">
                    <thead>
                    <tr>
                        <th title="De">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="price_start">De</ba-table-sort>
                        </th>
                        <th title="Até">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="price_end">Até</ba-table-sort>
                        </th>
                        <th title="Valor">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="value">Valor</ba-table-sort>
                        </th>
                        <th title="Tipo de calculo">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="type_calculation">Tipo</ba-table-sort>
                        </th>
                         <th title="Tipo de Operação">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="type_operation">Operação</ba-table-sort>
                        </th>
                        <th title="Data até o Voo">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="shipment_limit">Dias até Voo</ba-table-sort>
                        </th>
                        <th title="Data de expiração">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="expiration">D Expiração</ba-table-sort>
                        </th>
                        <th title="Tipo de Voo">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="type">Tipo</ba-table-sort>
                        </th>
                        <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Criado</ba-table-sort></th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="markup in price_markups">
                        <td>{{markup.price_start | currency}}</td>
                        <td>{{markup.price_end | currency}}</td>
                        <td ng-if="markup.type_calculation == 1">{{markup.value | percentage}}</td>
                        <td ng-if="markup.type_calculation == 2">{{markup.value | currency}}</td>
                        <td>{{markup.type_calculation_title}}</td>
                        <td>{{markup.type_operation_title}}</td>
                        <td>{{markup.shipment_limit ? markup.shipment_limit : '∞'}}</td>
                        <td>{{markup.expiration | toDate | date:'dd/MM/yyyy'}}<span ng-if="!markup.expiration">∞</span></td>
                        <td>{{markup.type_title}}</td>
                        <td>{{markup.created_at | toDate | date:'dd/MM/yy hh:mm'}}</td>
                        <td class="col-md-2">
                            <button class="btn btn-danger btn-xs" title="Lixeira" ng-click="trash(markup)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th title="De">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="price_start">De</ba-table-sort>
                        </th>
                        <th title="Até">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="price_end">Até</ba-table-sort>
                        </th>
                        <th title="Valor">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="value">Valor</ba-table-sort>
                        </th>
                        <th title="Tipo de calculo">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="type_calculation">Tipo</ba-table-sort>
                        </th>
                        <th title="Tipo de Operação">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="type_operation">Operação</ba-table-sort>
                        </th>
                        <th title="Data até o Voo">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="shipment_limit">Dias até Voo</ba-table-sort>
                        </th>
                        <th title="Data de expiração">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="expiration">D Expiração</ba-table-sort>
                        </th>
                        <th title="Tipo de Voo">
                            <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="type">Tipo</ba-table-sort>
                        </th>
                        <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Criado</ba-table-sort></th>
                        <th>Ação</th>
                    </tr>
                    </tfoot>
                </table>

            </ba-table-body>

        </ba-table>

    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md-12">
        <ng-include src="'views/price-markup/form.html'"></ng-include>
    </div>
</div>