.centered {
    position: absolute;
    top: 2%;
    left: 8%;
    transform: translate(-50%, -50%);

}

.centered-under {
 position: absolute;
 top: 69%;
 left: 59%;
 transform: translate(-50%, -50%);
 width: 100%;
 text-align: center;
 word-wrap: break-word;
}

.box-card {
    width: 84%;
    background: #E8AC4A;
    height: 16vh;
    opacity: 1;
    margin-top: 7vh;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

.text-above {
    font-size: 1.2vw;
}

/* On screens that are 992px or more */
@media all and (min-width: 600px) {
    .box-card {
        width: 84%;
        background: #E8AC4A;
        height: 16vh;
        opacity: 1;
        margin-top: 7vh;
        color: white;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .centered-under {
        position: absolute;
        top: 71%;
    }

    .text-modal{
        font-size: 1.2vw;
    }
}

@media all and (max-width: 1024px) {
    .box-card {
        width: 84%;
        background: #E8AC4A;
        height: 9vh;
        opacity: 1;
        margin-top: 3vh;
        color: white;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .centered-under {
        position: absolute;
        top: 71%;
        left: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }

    .text-modal{
        font-size: 1.2vw;
    }

    .text-above {
        font-size: 1.2vw;
    }
}

@media all and (max-width: 800px) {
    .box-card {
        width: 84%;
        background: #E8AC4A;
        height: 16vh;
        opacity: 1;
        margin-top: 7vh;
        color: white;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .centered-under {
        position: absolute;
        top: 71%;
        position: absolute;
        top: 71%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }

    .text-modal{
        font-size: 2.8vw;
    }
}

/* On screens that are 600px or less */
@media all and (max-width: 438px) {
    .box-card {
        width: 84% ;
        background: #E8AC4A ;
        height: 13vh ;
        opacity: 1 ;
        margin-top: 4vh ;
        color: white ;
        text-align: center ;
        vertical-align: middle ;
        display: flex ;
        align-items: center ;
        justify-content: center ;
    }

    .text-above {
        font-size: 3.3vw;
    }
    .centered-under {
        position: absolute;
        top: 71%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }
    .text-modal{
        font-size: 2.8vw
    }
}