<div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <ul class="list-unstyled list-with-padding list-inline">
                <li>
                    <div>ID</div>
                    <strong>{{ refund.id }}</strong>
                </li>

                <li>
                    <div>Passageiro</div>
                    <strong>{{ refund.passenger.fullname }}</strong>
                </li>
                <li>
                    <div>Nº Emissão</div>
                    <strong>{{ refund.emission_id }}</strong>
                </li>
                <li>
                    <div>Localizador</div>
                    <strong>{{ refund.e_ticket }}</strong>
                </li>

                <li>
                    <div>Tipo Voo</div>
                    <strong>{{ refund.type_title }}</strong>
                </li>

            </ul>
        </div>
    </div>


</div>