<ba-table ba-table-resource="resource" ba-table-items="invoices" ba-table-filter-criteria="filterCriteria">
    <ba-table-header filter="filter">

        <form ng-submit="filter(search)" id="payable-search-form">

            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">de</span>
                        <input  class="form-control"
                                data-provide="datepicker"
                                data-date-format="dd/mm/yyyy"
                                data-language="pt-BR"
                                data-date-autoclose="true"
                                ng-model="search.min_date">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon3">até</span>
                        <input  class="form-control"
                                data-provide="datepicker"
                                data-date-format="dd/mm/yyyy"
                                data-language="pt-BR"
                                data-date-autoclose="true"
                                ng-model="search.max_date">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar" ng-model="search.search"/>
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ba-table-header>

    <ba-table-body>
        <table id="data-table-payment" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
            <thead>
            <tr>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                <th>Status</th>
                <th>Op</th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="original_amount">Valor Real</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="amount">Valor Recebido</ba-table-sort></th>
                <th>Agência</th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="due_date">Vencimento</ba-table-sort></th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr id="{{invoice.id}}" class="receipt-row" ng-class="{'alert-warning':invoice.inconsistent}" ng-repeat="invoice in invoices">

                <td ng-class="{'alert-warning':invoice.inconsistent}" ng-bind="invoice.id"></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}" ng-bind="invoice.status_title"></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}" >
                    <span ng-if="invoice.op !=null ">
                        <a target="_blank" href="#/op/{{invoice.op.id }}">{{invoice.op.id}}</a>
                    </span></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}" ng-bind="invoice.original_amount | currency:'R$'"></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}" ng-bind="invoice.amount | currency:'R$'"></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}" ng-bind="invoice.agency.title"></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}" ng-bind="invoice.due_date | date:'dd/MM/yy'"></td>
                <td ng-class="{'alert-warning':invoice.inconsistent}">

                    <!--fazer aqui em baixo belinho-->
                    <div class="col-xs-2">
                        <!--<button-->
                                <!--type="button"-->
                                <!--class="btn btn-xs btn-success"-->
                                <!--mwl-confirm-->
                                <!--title="Liquidar Fatura Parcial"-->
                                <!--message="Liquidar essa fatura, você tem certeza?"-->
                                <!--confirm-text="Sim"-->
                                <!--cancel-text="Não"-->
                                <!--placement="left"-->
                                <!--on-confirm="liquidate(invoice)"-->
                                <!--confirm-button-type="success"-->
                                <!--cancel-button-type="warning"-->
                                <!--cancel-button-type="default">-->
                            <!--<i class="fa fa-check-circle-o"></i>-->
                        <!--</button>-->
                        <button class="btn btn-xs btn-success" ng-click="liquidateModal(invoice)"><i class="fa fa-check-circle-o"></i></button>

                    </div>
                    <div class="dropdown col-lg-2" ng-if="verifyAttachment(invoice.op.attachments)">
                        <button class="btn btn-success btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download"></i>
                            <span class="caret"></span>
                        </button>
                        <ul  ng-repeat="attachment in invoice.op.attachments" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li ng-if="attachment.is_valid == 1">
                                <a ng-click="downloadFile(attachment.filename,invoice.op.id)"
                                    style="text-align: left; cursor: pointer"
                                    title="Fazer download do comprovante">
                                      {{attachment.filename | limitTo:10}}
                                </a>
                            </li>
                        </ul>
                    </div>
                    
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                    <th>Status</th>
                    <th>Op</th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="original_amount">Valor Real</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="amount">Valor Recebido</ba-table-sort></th>
                    <th>Agência</th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="due_date">Vencimento</ba-table-sort></th>
                    <th>Ação</th>
                </tr>
            </tfoot>
        </table>
    </ba-table-body>
</ba-table>