<ba-table ba-table-resource="resource" ba-table-items="invoices" ba-table-filter-criteria="filterCriteria">
    <ba-table-header filter="filter">
        <form ng-submit="filter(search)" id="payable-search-form">

            <div class="row">
                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon2">de</span>
                        <input  class="form-control"
                                data-provide="datepicker"
                                data-date-format="dd/mm/yyyy"
                                data-language="pt-BR"
                                data-date-autoclose="true"
                                ng-model="search.min_date">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon3">até</span>
                        <input  class="form-control"
                                data-provide="datepicker"
                                data-date-format="dd/mm/yyyy"
                                data-language="pt-BR"
                                data-date-autoclose="true"
                                ng-model="search.max_date">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar" ng-model="search.search"/>
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ba-table-header>

    <ba-table-body>
        <table id="data-table-payment" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
            <thead>
            <tr>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                <th>Status</th>
                <th>OP</th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="amount">R$</ba-table-sort></th>
                <th>Agência</th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="due_date">Vencimento</ba-table-sort></th>
                <!--<th>Ação</th>-->
            </tr>
            </thead>
            <tbody>
            <tr id="{{invoice.id}}" class="receipt-row" ng-repeat="invoice in invoices">

                <td ng-bind="invoice.id"></td>
                <td ng-bind="invoice.status_title"></td>
                <td>
                    <span ng-if="invoice.op !=null ">
                        <a target="_blank" href="#/op/{{invoice.op.id }}">{{invoice.op.id}}</a>
                    </span>
                </td>
                <td ng-bind="invoice.amount | currency:''"></td>
                <td ng-bind="invoice.agency.title"></td>
                <td ng-bind="invoice.due_date | date:'dd/MM/yy'"></td>

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                <th>Status</th>
                <th>OP</th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="amount">R$</ba-table-sort></th>
                <th>Agência</th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="due_date">Vencimento</ba-table-sort></th>
                <!--<th>Ação</th>-->
            </tr>
            </tfoot>
        </table>
    </ba-table-body>
</ba-table>