<ba-table ba-table-resource="resource" ba-table-items="accounts">

    <ba-table-body>
        <table id="data-table-group" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
            <thead>
            <tr>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Nome</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="address">Email</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="mail_config_id">Configuração</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="send_count">Envios</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Criado</ba-table-sort></th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="account in accounts">
                <th scope="row">{{account.id}}</th>
                <td>{{account.name}}</td>
                <td>{{account.address}}</td>
                <td>{{account.config.name}}</td>
                <td>{{account.send_count}}</td>
                <td>{{account.created_at | toDate | date:'dd/MM/yy hh:mm'}}</td>
                <td class="col-md-3">
                    <a ui-sref="app.email-account-edit(account)" class="btn btn-xs btn-info " title="Editar"><i class="fa fa-edit"></i></a>
                    <div class="btn btn-xs btn-danger  dropdown">
                        <a type="button" class="dropdown-toggle"  data-toggle="dropdown" style="color:white;">
                            <i class="fa fa-trash"></i>
                        </a>
                        <ul class="custom-dropdown dropdown-menu dropdown-menu-right" role="menu">
                            <li>
                                <a ng-click="trash(account)">Excluir</a>
                            </li>
                            <li>
                                <a>Cancelar</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Nome</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="address">Email</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="mail_config_id">Descrição</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="send_count">Envios</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Criado</ba-table-sort></th>
                <th>Ação</th>
            </tr>
            </tfoot>
        </table>

    </ba-table-body>

</ba-table>