<ba-table ba-table-resource="resource" ba-table-items="reports" ba-table-filter-criteria="filterCriteria">

    <ba-table-header>
    </ba-table-header>
    <ba-table-body>
            <table id="data-table-report" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
                <thead>
                <tr>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">Emissão</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Data</ba-table-sort></th>
                    <th>Ações</th>
                </tr>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="report in reports" ng-click="show(0, report)" style="cursor: pointer">
                    <td>{{report.id}}</td>
                    <td>{{report.content.emission.id}}</td>
                    <td>{{report.date | toDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td>
                        <a class="btn btn-success btn-xs" ng-click="show(0, report)" title="Detalhes"><i class="fa fa-search"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">Emissão</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Data</ba-table-sort></th>
                    <th>Ações</th>
                </tr>
                </tfoot>
            </table>

    </ba-table-body>

</ba-table>