.input-group-addon {
  background-color: whitesmoke;
  font-size: 16px !important;
  line-height: 35px;
  border-right: 2px solid #dadfe6 !important;
  border-left: none !important;
}

.error-message {
  color: #ff6b83;
  margin-top: 0.5rem;
}
