<div class="col-md-12">

    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title">Campanhas</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a ui-sref="app.campaign-create" class="btn btn-success m-b-sm">Nova Campanha</a>
                    <div class="table-responsive">
                        <div ng-include="'views/campaign/tables/index.html'"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
