<div class="col-md-12 col-lg-6">
   <form ng-submit="save(card)" name="cardForm">

        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">{{title}}</h4>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="code">Código</label>
                            <input type="text"
                                   ng-model="card.code"
                                   id="code"
                                   placeholder="Código"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':!cardForm.cpf.$pristine && cardForm.cpf.$invalid}">
                            <label for="flag">CPF</label>
                            <input type="text"
                                   ng-model="card.cpf"
                                   id="cpf"
                                   name="cpf"
                                   placeholder="000.000.000-00"
                                   ui-br-cpf-mask
                                   class="form-control"
                                   ng-required="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="full_name">Nome Completo <span class="text-xs">(Nome sem abreviações)</span></label>
                            <input type="text"
                                   ng-model="card.full_name"
                                   id="full_name"
                                   placeholder="Nome Completo"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="titular">Titular <span class="text-xs">(Nome impresso no cartão)</span></label>
                            <input type="text"
                                   ng-model="card.titular"
                                   id="titular"
                                   placeholder="Titular"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="flag">Bandeira</label>
                            <select ng-model="card.flag"
                                    id="flag"
                                    class="form-control"
                                    ng-options="flag.value as flag.title for flag in flags"
                                    required>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="card-number">Nº</label>
                            <input type="text"
                                   ng-model="card.card_number"
                                   id="card-number"
                                   placeholder="Nº"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="expiration">Validade</label>
                            <input type="text"
                                   ng-model="card.expiration"
                                   id="expiration"
                                   class="form-control"
                                   required
                                   ui-mask="99/99"
                                   model-view-value="true"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="expiration">CVV <span class="text-xs">(Código de segurança)</span></label>
                            <input type="text"
                                   ng-model="card.cvv"
                                   id="cvv"
                                   class="form-control"
                                   placeholder="Código de verificação"
                                   ng-required="true"/>
                        </div>
                    </div>
                </div>

                <div class="row">


                </div>



                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="birthday">Nascimento</label>
                            <input type="text"
                                   ng-model="card.birthday"
                                   id="birthday"
                                   class="form-control"
                                   required
                                   ui-mask="99/99/9999"
                                   model-view-value="true"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="phone">Fone</label>
                            <input type="text"
                                   ng-model="card.phone"
                                   id="phone"
                                   class="form-control"
                                   required
                                   ui-br-phone-number
                                   model-view-value="true"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="titular">Dia Vencimento Fatura</label>
                            <select ng-model="card.invoice_expiration"
                                   id="invoice_expiration"
                                   class="form-control"
                                   ng-options="day.value as day.value for day in days"
                                   required>
                                <option value="">Selecione</option>
                            </select>
                        </div>
                    </div>
                </div>



                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="limit">Limite</strong>
                            </label>
                            <input type="text"
                                   ng-model="card.limit"
                                   id="limit"
                                   placeholder="Limite R$"
                                   class="form-control"
                                   ui-money-mask
                                   required/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Saldo Atual</label>
                        <input type="text"
                               ng-model="card.balance"
                               id="balance"
                               placeholder="Saldo R$"
                               class="form-control"
                               ng-class="{'text-danger':card.balance < 0, 'text-success':card.balance > 0}"
                               ui-money-mask
                               ui-negative-number
                               required/>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="zipcode">CEP</label>
                        <input type="text"
                               class="form-control" id="zipcode"
                               ng-model="card.address.zipcode"
                               placeholder="55870-000"
                               required
                               ng-blur="consultCep(card)"
                               ui-br-cep-mask/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="address_address">Logradouro</label>
                            <input type="text"
                                   ng-model="card.address.street"
                                   id="address_address"
                                   placeholder="Endereço"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="address_address">Número</label>
                            <input type="text"
                                   ng-model="card.address.number"
                                   id="address_number"
                                   placeholder="Número"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="address_district">País</label>
                            <select type="text"
                                    class="form-control"
                                    id="address_country"
                                    ng-model="card.address.country"
                                    ng-options="country for country in countries"
                                    ng-init="card.address.country = countries[31]"
                                    required>
                            </select>
                            
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="address_state">Estado</label>
                            <select type="text"
                                    class="form-control"
                                    id="address_state"
                                    ng-model="card.address.state"
                                    ng-options="t.value as t.title for t in states"
                                    required>
                                <option value="">--</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="address_city">Cidade</label>
                            <input type="text"
                                   ng-model="card.address.city"
                                   id="address_city"
                                   placeholder="Cidade"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="address_district">Bairro</label>
                            <input type="text"
                                   ng-model="card.address.district"
                                   id="address_district"
                                   placeholder="Bairro"
                                   class="form-control"
                                   required/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="observation">Observação</label>
                    <textarea type="text"
                              ng-model="card.observation"
                              id="observation"
                              placeholder="Observação"
                              class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <label for="card_type_id">Tipo</label>
                        <select type="text"
                                class="form-control"
                                id="card_type_id"
                                ng-model="card.card_type_id"
                                ng-options="t.id as t.title for t in types"
                                required>
                            <option value="">--</option>
                        </select>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <br>
                            <input bs-switch
                                   ng-model="card.status"
                                   type="checkbox"
                                   switch-on-text="SIM"
                                   switch-off-text="NÃO"
                                   switch-label="Ativo"
                                   switch-label-width="125"
                                   switch-handle-width="30"
                                   switch-on-color="success"
                                   switch-off-color="danger"
                                   ng-true-value="1"
                                   ng-false-value="0"/>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel-footer">
                <a ui-sref="app.card" class="btn btn-danger">Cancelar</a>
                <button type="submit" ng-click="verifyFields()"class="btn btn-success">Salvar</button>
            </div>
        </div>
    </form>
</div>

<div class="col-md-6" ng-if="card.id">
    <div class="panel panel-white">
        <a href="" data-toggle="collapse" data-target="#content-providers">
            <div class="panel-heading clearfix">
                <h4 class="panel-title" style="text-decoration:none;color:rgb(78, 94, 106);">
                    + Fornecedores Associados
                </h4>
            </div>
        </a>
        <div id="content-providers" class="collapse">
            <div class="panel-body">
                <div ng-include="'views/card/tables/providers.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6" ng-if="observations">
    <div class="panel panel-white">
        <a href="" data-toggle="collapse" data-target="#content-observations">
            <div class="panel-heading clearfix" style="text-decoration:none;color:rgb(78, 94, 106);">
                <h4 class="panel-title">+ Observações</h4>
            </div>
        </a>
        <div id="content-observations" class="collapse">
            <div class="panel-body">
                <div ng-include="'views/card/tables/observations.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6" ng-if="comments">
    <div class="panel panel-white">
        <a href="" data-toggle="collapse" data-target="#content-comments">
            <div class="panel-heading clearfix" style="text-decoration:none;color:rgb(78, 94, 106);">
                <h4 class="panel-title">+ Problemas</h4>
            </div>
        </a>
        <div id="content-comments" class="collapse">
            <div class="panel-body">
                <div ng-include="'views/card/tables/comments.html'"></div>
            </div>
        </div>
    </div>
</div>


