<div class="col-md-6">
    <form ng-submit="save(request)" name="requestForm">

        <div class="panel panel-white">
            <div class="panel-heading clearfix">
                <h4 class="panel-title">Editar Solicitação #{{request.id}}</h4>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="card_id">Cartão</label>
                            <ui-select ng-model="request.card_id"
                                       id="card_id"
                                       title="Busca por cartão"
                                       style="min-width: 200px !important;"
                                       required
                                       on-select="onSelectCard($item, $model)">
                                <ui-select-match placeholder="Escolha um cartão...">
                                    {{$select.selected.code}} - {{$select.selected.card_number}} - {{$select.selected.titular}}
                                </ui-select-match>
                                <ui-select-choices
                                        ui-disable-choice="!card.status || card.code == '3333'"
                                        refresh="listCards($select.search)"
                                        repeat="card.id as card in cards">
                                    <hr style="margin: 5px 0;"/>
                                    <div ng-class="{'text-del':!card.status || card.code == 'CP00'}">
                                        <div ng-bind-html="'Nº ' + card.card_number + ' | Tit. ' + card.titular | highlight: $select.search" style="font-weight: bold;"></div>
                                        <small>
                                            CVV: <strong>{{card.cvv}}</strong> |
                                            CPF.: <strong>{{card.cpf}}</strong> |
                                            Val.:
                                            <strong>
                                                <span ng-bind-html="''+ card.expiration | toDate | date:'MM/yy' | highlight: $select.search"></span>
                                            </strong>
                                            Saldo: <strong ng-class="{'text-danger':card.balance <= 0, 'text-success':card.balance >= 0}">{{card.balance | currency}}</strong>
                                        </small>
                                    </div>

                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="card_id">Estoque</label>
                            <ui-select ng-model="request.stock_id"
                                       theme="bootstrap"
                                       style="width: 100%;" title="Selecione um estoque de fornecedor"
                                       on-select="onSelectStock($item, $model)">
                                <ui-select-match placeholder="Selecione um estoque de fornecedor...">{{$select.selected.provider.name}}</ui-select-match>
                                <ui-select-choices refresh="listStocks($select.search)" repeat="stock.id as stock in stocks" refresh-delay="500">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div ng-bind="stock.provider.name" style="font-weight:bold;"></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="border-right-1px" style="width:26%;float: left; padding: 5px;">
                                            Milhas:
                                            <strong ng-if="stock.miles">{{stock.miles / 1000 | number}} Mill</strong>
                                            <strong ng-if="!stock.miles">0</strong>
                                        </div>
                                        <div class="border-right-1px" style="width:26%;float: left; padding: 5px;">
                                            Cartão: <strong>{{stock.card_number}}</strong>
                                        </div>
                                        <div class="" style="width:26%;float: left; padding: 5px;">
                                            Tipo:   <strong>{{stock.payment_form_title}}</strong>
                                        </div>
                                    </div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="observation">Observação</label>
                    <textarea type="text"
                              ng-model="request.observation"
                              id="observation"
                              style="max-width:800px"
                              placeholder="Observação"
                              class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="points">Localizador</label>
                            <input type="text"
                                   ng-model="request.confirmation_code"
                                   id="confirmation_code"
                                   placeholder="Localizador"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="points">E-Ticket</label>
                            <input type="text"
                                   ng-model="request.e_ticket"
                                   id="e_ticket"
                                   placeholder="E-Ticket"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="points">Milhas</label>
                            <input type="text"
                                   ng-model="request.points"
                                   id="points"
                                   ui-number-mask="0"
                                   placeholder="Milhas"
                                   class="form-control"/>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label for="money">Tarifa</label>
                            <input type="text"
                                   ng-model="request.money"
                                   id="money"
                                   ui-money-mask="2"
                                   placeholder="Tarifas"
                                   class="form-control"/>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-3">
                        <label for="status">Bagagem</label>
                        <input type="text"
                               class="form-control"
                               id="baggage_price"
                               ui-money-mask="2"
                               ng-model="request.baggage_price">
                    </div>
                    <div class="col-md-4">
                        <label for="status">Status</label>
                        <select class="form-control"
                                id="status"
                                ng-model="request.status"
                                ng-options="t.value as t.title for t in statuses"
                                required>
                        </select>
                    </div>
                </div>
            </div>

            <div class="panel-footer">
                <a ui-sref="app.emission-request" class="btn btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-success" >Salvar</button>
            </div>
        </div>
    </form>
</div>
