<div class="col-md-12">

    <div class="panel panel-white">
        <div class="panel-heading">
            <h4 class="panel-title">Emissões Automáticas</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="rootwizard">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="?#emission-tab1" data-toggle="tab">
                                    <i class="fa fa-user m-r-xs"></i>Todos
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active fade in" id="emission-tab1">
                                <div class="table-responsive">
                                    <div ng-include="'views/emission-request/tables/index.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
