<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Atualização de Cadastro</h4>
    </div>
    <div class="modal-body">
        <p>O seu cadastro não possui um ramal para realizar a ligação, cadastre um no campo abaixo.</p>
        <input class="form-control" ng-model="branch" placeholder="Ramal">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Fechar</button>
        <button type="button" class="btn btn-success" ng-click="updateUser()">Salvar alterações e telefonar</button>
    </div>
</div>