<ba-table ba-table-items="messages" ba-table-resource="resource" ba-table-resource-function="resourceFunction" ba-table-filter-criteria="filterCriteria">

    <ba-table-header filter="filter">
        <div class="row">
            <div class="col-md-8" style="height: auto">
                <button class="btn btn-success" type="button" ng-click="refresh()" title="Recarregar listagem"
                        ng-enable="refreshing">
                    <i class="fa fa-refresh"></i>
                </button>
                <!--<button class="btn" type="button" ng-click="loadFiled()"-->
                        <!--ng-class="{'btn-success': !fileds, 'btn-warning': fileds}"-->
                        <!--title="Carregar listagem de arquivadas" ng-enable="refreshing">-->
                    <!--<i class="fa fa-archive"></i>-->
                <!--</button>-->
                <!--<span ng-if="fileds"><strong>ARQUIVADAS</strong></span>-->
            </div>
            <div class="col-md-4">
                <form ng-submit="filter(search)">
                    <div class="input-group">
                        <input type="text" name="search" ng-model="search.search" class="form-control input-search"
                               placeholder="Buscar...">
                        <span class="input-group-btn">
                                <button class="btn btn-success" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                    </div><!-- Input Group -->
                </form>
            </div>
        </div>

    </ba-table-header>

    <ba-table-body>
        <table class="table">
            <thead>
            <tr>
                <th title="Email">Email</th>
                <th title="Assunto">Assunto</th>
                <th title="OP">OP</th>
                <th title="Resposta">Resposta</th>
                <th title="Data de Recebimento">Data</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tr ng-repeat="message in messages" ng-class="{'unread':message.status == 1, 'read':message.status == 2}">
                <td ng-class="{'alert-danger':message.status==3}"  class="hidden-xs"> <span title="{{message.name}}"><a href="{{message.link}}" target="_blank">{{message.name}}</a> </span></td>
                <td ng-class="{'alert-danger':message.status==3}">{{message.summary_subject | limitTo:40}}</td>
                <td ng-class="{'alert-danger':message.status==3}">
                    <span ng-if="message.op_id !=null "><a target="_blank" href="#/op/{{message.op_id }}">{{message.op_id}}</a></span>
                    <span ng-if="message.op_id ==null " title="Op não encontrada">Não en. <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>
                </td>
                <td ng-class="{'alert-danger':message.status==3}">{{message.summary_message | limitTo:20}}<span ng-if="message.text_plain.length >= 10">...</span></td>
                <td ng-class="{'alert-danger':message.status==3}">{{message.received_at | toDate | date:'dd/MM/yy HH:mm'}}</td>
                <td ng-class="{'alert-danger':message.status==3}">
                    <button title="Abrir" class="btn btn-xs btn-success" ng-click="show(message)"><i class="fa fa-eye"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </ba-table-body>

</ba-table>