.input-group-addon {
  background-color: whitesmoke;
  font-size: 16px !important;
  line-height: 35px;
  border-right: 2px solid #dadfe6 !important;
  border-left: none !important;
}

.edit-btn {
  float: right;
  cursor: pointer !important;
  height: 38px;
}

.edit-icon {
  font-size: 2rem;
  vertical-align: middle;
  margin-right: 0.6rem;
  line-height: 1px;
}

.edit-margin {
  margin-top: -10px;
  margin-bottom: -10px;
}

.status-btn {
  margin-left: 8px;
}

:host /deep/ .nb-theme-corporate nb-radio input:checked + .radio-indicator,
.nb-theme-corporate nb-radio input:hover:not(:disabled) + .radio-indicator {
  border-color: white;
}

:host /deep/ .nb-theme-corporate nb-radio .radio-description {
  color: white;
}
