<div class="col-md-3 center">
    <div class="login-box">
        <a href="/" class="logo-name text-lg text-center">Busca Aéreo</a>
        <p class="text-center m-t-md">Gerenciador.</p>

        <form method="post" role="login" name="form" ng-submit="sendResetEmail(user)" >
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="E-mail" ng-model="user.email" required>
            </div>
            <button class="btn btn-success btn-block" ng-class="{btnDisable:button}" type="submit" ng-model="buttonLogin" ng-disabled="button">{{btnButton}}</button>
        </form>

        <br>
        <a href="#/login" class="btn btn-success btn-block">
            <i class="fa fa-arrow-left"></i> Retornar ao Login
        </a>

        <p class="text-center m-t-xs text-sm">{{$resolve.$stateParams.version}}</p>
    </div>
</div>