<div class="col-md-12">

    <div class="panel">
        <div class="panel-heading">
            <button class="btn btn-success" ui-sref="app.conciliation()">
                <i class="fa fa-arrow-left"></i>
            </button>
        </div>
        <div class="panel-body">
            <table id="data-table-agency" class="display table table-striped table-condensed" style="width: 100%;">
                <thead>
                    <tr>
                        <th>
                            Data
                        </th>
                        <th>
                            Transação
                        </th>
                        <th>
                            Valor
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in responseData">
                        <td scope="row">{{data.date.date}}</td>
                        <td scope="row">{{data.transaction}}</td>
                        <td scope="row">{{data.value | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>