<ba-table ba-table-resource="resource" ba-table-items="emails" ba-table-filter-criteria="filterCriteria">

    <ba-table-body>
        <table id="data-table-group" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
            <thead>
            <tr>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="email">Email</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Criado</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="sent_in">Enviado</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="last_viewed">D. Visualização</ba-table-sort></th>
                <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="status">Status</ba-table-sort></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="email in emails">
                <td>{{email.email}}</td>
                <td>{{email.created_at | toDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{email.sent_in | toDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{email.last_viewed | toDate | date:'dd/MM/yy HH:mm'}}</td>
                <td>{{email.status_title}}</td>
            </tr>
            </tbody>
        </table>

    </ba-table-body>

</ba-table>