<ba-table ba-table-resource="resource" ba-table-items="contacts" ba-table-filter-criteria="filterCriteria">

    <ba-table-header>
    </ba-table-header>
    <ba-table-body>
            <table id="data-table-contact" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
                <thead>
                <tr>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Nome</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="phone">Telefone</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="email">Email</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Data</ba-table-sort></th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="contact in contacts">
                    <td>{{contact.id}}</td>
                    <td>{{contact.name}}</td>
                    <td ba-click-to-call>{{contact.phone}}</td>
                    <td>{{contact.email}}</td>
                    <td>{{contact.created_at | toDate | date:'dd/MM/yy hh:mm'}}</td>
                    <td class="col-md-2">
                        <a class="btn btn-success btn-xs" ng-click="show(0, contact)" title="Finalizar contato"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger btn-xs" ng-click="show(1, contact)" title="Arquivar contato"><i class="fa fa-archive"></i></a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="id">ID</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="name">Nome</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="phone">Telefone</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="email">Email</ba-table-sort></th>
                    <th><ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy" ba-table-sort-value="created_at">Data</ba-table-sort></th>
                    <th>Ação</th>
                </tr>
                </tfoot>
            </table>

    </ba-table-body>

</ba-table>