<div class="modal-header">
    <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">OP #{{op.id}} &mdash; Anexar Comprovante de Pagamento</h4>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 m-t-n-sm">

            <div class="col-md-4">
                <button type="button" class="btn btn-info btn-block" ngf-select="fileSelected(attachment)" ng-model="attachment.file" ngf-max-size="100MB"
                    ngf-accept="'image/*,image/jpeg'" name="file" style="margin-top:23px">
                    Selecione o arquivo
                </button>
            </div>
            <div class="col-md-6">
                <div class="form-group" style="margin-top: 20px">
                    <div class="input-group">
                        <input disabled title="{{attachment.file.name}}" type="text" class="form-control" placeholder="Nenhum arquivo selecionado" ng-model="attachment.file.name"
                        />
                        <div class="input-group-btn">
                            <button ng-disabled="savingAttachment" title="Salvar Comprovante" ng-click="createAttachment(attachment)" class="btn btn-success">
                                <i class="fa fa-check" ng-class="{'fa-check': !savingAttachment, 'fa-spinner': savingAttachment, 'fa-spin': savingAttachment}"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>