<ba-table ba-table-resource="resource" ba-table-resource-function="resourceFunction" ba-table-items="invoices"
    ba-table-filter-criteria="filterCriteria">

    <ba-table-header filter="filter">
        <form ng-submit="filter(search)">
            <div class="row">

                <div class="col-md-3">
                    <div class="input-group">
                        <label class="input-group-addon" id="sizing-addon3">Data de Vencimento</label>
                        <input class="form-control" data-date-start-date="1d" data-provide="datepicker"
                            data-date-format="dd/mm/yyyy" data-language="pt-BR" ng-model="search.due_date">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="search.search" />
                            <div class="input-group-btn">
                                <button class="btn btn-success" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </ba-table-header>

    <ba-table-body>

        <table id="data-table-payment" class="display table table-striped table-condensed table-hover" style="width: 100%; cellspacing: 0;">
            <thead>
                <tr>
                    <th>
                        <ba-table-sort ba-table-sort-dir="filterCriteria.sortedBy" ba-table-sort-by="filterCriteria.orderBy"
                            ba-table-sort-value="invoice.id">ID</ba-table-sort>
                    </th>
                    <th>Passageiro</th>
                    <th>Agência</th>
                    <th>Valor Total</th>
                    <th>Vencimento da Fatura</th>
                    <th>Ver</th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{invoice.id}}" class="invoice-row" ng-repeat="invoice in invoices">
                    <td ng-bind="invoice.id"></td>
                    <td ng-bind="invoice.passenger.fullname"></td>
                    <td ng-bind="invoice.agency.title"></td>
                    <td ng-bind="getTotalAmount(invoice) | currency"></td>
                    <td ng-bind="invoice.due_date_invoice | date:'dd/MM/yyyy'"></td>
                    <td class="col-md-2">
                        <button ui-sref="app.agency-to-invoice(invoice.agency)" class="btn btn-info btn-xs" title="Ver">
                            <i class="fa fa-search"></i>
                        </button>
                    </td>

                </tr>
            </tbody>

        </table>
    </ba-table-body>
</ba-table>